.Rproj.user
.Rhistory
.RData
.Ruserdata
pd3.Rproj
*.xml
*.csv
prezentacja/prezentacja-concordance.tex
prezentacja/prezentacja.log
prezentacja/prezentacja.nav
prezentacja/prezentacja.snm
prezentacja/prezentacja.synctex.gz
prezentacja/prezentacja.tex
prezentacja/prezentacja.toc