# pliki zwiazane z projektem w r studio
.Rproj.user
.Rhistory
.RData
.Ruserdata
pd3.Rproj

# dane i obrazki
*.xml
*.csv
*.png

# pliki powstajace przy kompilacji prezentacji
prezentacja/prezentacja-concordance.tex
prezentacja/prezentacja.log
prezentacja/prezentacja.nav
prezentacja/prezentacja.snm
prezentacja/prezentacja.synctex.gz
prezentacja/prezentacja.tex
prezentacja/prezentacja.toc
prezentacja/prezentacja.vrb